---
layout: default
title: "ls -t"
---


<div id="ladder">
<a href="/"><img src="/images/ButtonHome.png"></a>
</div>


<ul class="chaos">
{% for post in site.posts %}

    {% unless post.next %}
      <h3 style="margin: 0 0 0 20px;">{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
       <h3 style="margin: 20px 0 0 20px;">{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>
      <span class="time">{{ post.date | date:"%-m-%-d" }} </span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>


{% endfor %}
<ul>






