* {margin:0px; padding:0px;}

#footer {
   text-align: center;
   font-size: 13px;
}

#blog-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
}

#blog-title:hover {
    color: #FFF;
}

.blog-tab {
    color: #677000;
    font-weight: 200;
    font-size: 14px;
}

.blog-tab:hover {
    color: #FFF;
}

html {
    height: 100%;
}

body {
    color: #333;
    line-height: 180%;
    background-color: #FFFFFF;
    background-image: url("//cdn.v2ex.co/assets/bgs/abovetheclouds.jpg");
    background-repeat: repeat-x;
    background-position: 50% 0;
    margin: 0;
    height: 100%;
    font-size: 15px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
}


a { color: #666; text-decoration:none; }

a:hover { color:#777; text-decoration:underline;}

h1,h2,h3,h4 {
    color: #333;
    margin: 20px 0;
    font-weight: bold;
}

h3 {font-size: 18px;  margin: 18px 0; }
h4 {font-size: 16px;}

ul, ol{  25px;margin: 20px;}


#nav {
    text-align: center;
    background: #222;
    color: #fff;
    min-height: 24px;
    font-size: 0.875em;
    line-height: 24px;
}

#nav a {
    padding: 0 8px; 
    text-decoration: none;
}


.chaos {
    -moz-column-width: 222px;
    -webkit-column-width: 222px;
    column-width: 222px;
    margin: 0px;
    padding: 0px 40px;
}

.chaos li {
    margin-top: 9px;
    margin-left: 0px;
    line-height: 130%;
    list-style-type: none;
}


.chaos li a {
    text-decoration: none;
}


.chaos .title {
    width: 200px;
}


#hat {
    font-size: 40px;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-shadow: rgba(0, 0, 0, 0.2) 3px 1px 0px;
    font-weight: normal;
}

#hat:hover {
    background: none;
}


.content {
    background: #FFFFFF;
    width: 690px;
    margin: 0px auto;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    padding: 20px;
}


li { list-style-type: square; }
p { margin: 14px 0; }

hr {
    margin: 20px auto;
    border: 0;
    border-bottom: 1px solid #eee;
    width: 85%;
}

.postview {
    padding: 20px;
}

p img {
    max-width: 580px;
    display: block;
    margin: 40px auto;
}


blockquote,pre {
    border-left: 10px #FA0D0D solid;
    padding: 0px 20px;
}

code {
    font-family: Menlo,Monaco,monospace;
    border: 0px;
    word-wrap: break-word;
    font: monospace;
    margin:0px;
    padding:0px;
    color: #777;
    font-size: 80%
}



.pagetitle h1{
    color: #333;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 15px;
    margin: 0;
}


.entry_title h2 {
    font-size: 22px;
    line-height: 23px;
    margin: 0;
    padding-bottom: 2px;
}


.timestamp {
    color: #777;
    position: relative;    
    font-size: 15px;
}


.blogtitle a {
    font-size: 30px;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

.blogtitle a:hover {
    text-decoration: none;
}



.sidenote {
    display: block;
    font-size: 80%;
    margin-right: -150px;
    width: 150px;
    left: 45px;
    float: right;
    padding: 5px;
    position: relative;
}



.sep {
    text-align: center;
    margin: 30px;
}

strong {
    color: #222;
}
