* {margin:0px; padding:0px;}


html {
    height: 100%;
}

body {
    color: #333;
    line-height: 180%;
    background: #FFFFFF;
    margin: 0;
    height: 100%;
    font: normal 14px/1.75 'Noto Sans', sans-serif;
}

h1,h2,h3,h4 {
    margin: 20px 0;
    font-weight: normal;
}

h3 {font-size: 18px; color: #060; margin: 20px 0; }
h4 {font-size: 16px; color: #333;}

ul, ol{padding-left: 25px;margin: 20px;}


.chaos {
    -moz-column-width: 222px;
    -webkit-column-width: 222px;
    column-width: 222px;
    margin: 0px;
    padding: 0px 40px;
}

.chaos li {
    margin-top: 3px;
    margin-left: 20px;
    list-style-type: none;

}

.chaos .time {
    color: #999;
    float: right;
    display: inline-block;
}

.chaos .title {
    width: 200px;
}



#navs {
    position: absolute;
    left: 10px;
    top: 0;
}





.container {
    
    padding: 50px 40px;

}
.content { width: 575px; margin: 0 auto; }

a {color: #579; text-decoration: none;  }
a:hover { background: #D0DAF7; text-decoration: none;}


p { margin: 15px 0; }

hr {
    height: 50px;
    margin-top: 50px;
    width: 750px;
    border: 0;
    box-shadow: inset 0 12px 12px -15px rgba(0,0,0,0.5);
}


pre {
    font-family: Menlo,Monaco,monospace;
    font-size: 13px;
    border: 0px;
    padding: 20px;
    color: #D6459E;
    word-wrap: break-word;
}

p img {
    max-width: 600px;
    display: block;
    margin: 40px auto;
}


blockquote {
    padding: 0px 20px;
    color: #0E2F8A;
}

.pagetitle h1{
    color: #3159A3;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 15px;
    margin: 0;
}

.pagetitle h1 a {
    border: none;
}

.postview {
}

.entry_title h2 {
    font-size: 22px;
    line-height: 23px;
    margin: 0;
    padding-bottom: 2px;
}

.entry_title h2 a {
    color: #3159A3;
    text-decoration: none;
}

.entry_title h2 a:hover {
    text-decoration: none;
    color: #C8A799;
}

.timestamp {
    color: #777;
    float: right;
    position: relative;    
    font-size: 15px;
    margin-right: -150px;    
}


.blogtitle a {
    font-size: 30px;
    font-weight: bold;
    color:black;
}

.blogtitle a:hover {
    text-decoration: none;
}

code {
    margin:0px;
    padding:0px;
    color: #D5784D;
}


.sidenote {
    display: block;
    font-size: 12px;
    color: #666;
    margin-right: -150px;
    width: 150px;
    left: 45px;
    float: right;
    padding: 5px;
    position: relative;
}



.sep {
    text-align: center;
    margin: 30px;
}