* {margin:0px; padding:0px;}

body {
    color: #444;
    line-height: 180%;
    background: #333;
    margin: 0;
    font: normal 14px/1.75 "TIBch", "Grotesque MT W01", "Helvetica Neue", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

h1,h2,h3,h4 {
    margin: 20px 0;
    font-family: Sylfaen, Georgia, "Times New Roman", Times, serif;
}
h1,h2 {font-weight: normal;}
h3 {font-size: 18px;color: #333;}
h4 {font-size: 16px;color: #333;}

ul, ol{padding-left: 25px;}

#header {
    height: 225px;
    text-align: right;
    padding: 30px;
    background: url('/images/header.png') no-repeat;
    margin-left: 5px;
}


#header h1 {
    margin: 120px 0 0 0;
    font-size: 28px;
    text-shadow: 2pt 1pt 2pt #333;
}

#header #desc {
    color: #E5F2E9;
    text-shadow: 2pt 1pt 2pt #333;
    margin-top: -8px;
}

#header h1 a{
    color: #E5F2E9;
    font-weight: normal;
}

#navs {
    background:#333;
    border: 5px solid #222;
    border-top: none;
    font-size: 12px;
    margin: -42px 0 50px 5px; 
    height: 28px;
    width: 530px;
}

#navs ul {
    float: left;
    margin: 0;
    padding: 0;
}
#navs ul li{
    display: inline-block;
    float:left;
}
#navs ul li a {
    color: #fff;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    padding: 0 15px;
    line-height: 28px;
}

.container {
    width: 550px;
    margin: 0 auto;
    background: #fff;
    padding: 0 15px;
    border-left: 7px solid #eee;
    border-right: 7px solid #eee;
}
.content {margin: 0 5px;}

a {color: #579; text-decoration: none;}

a:hover {color:#C00; text-decoration: none; }


p {margin: 0 0 20px;}

ul {list-style-type: square;}


pre {
    font-family: Menlo,Monaco,monospace;
    font-size: 13px;
    border: 0px;
    padding: 3px;
    margin: 20px;
    background: #fff;
    -moz-box-shadow:2px 2px 8px #888;
    -webkit-box-shadow:2px 2px 8px #888;
    box-shadow:2px 2px 8px #888;
}

p img {
    max-width: 510px;
    -moz-box-shadow:0px 0px 15px #999;
    -webkit-box-shadow:0px 0px 15px #999;
    box-shadow:0px 0px 15px #999;
}


blockquote {
    margin: 20px 20px 20px 20px;
    background: #FAEBBC;
    color: #333;
    padding: 10px;
    border-top: 1px solid #E1CC89;
    border-bottom: 1px solid #E1CC89;
}

.pagetitle h1{
    color: #333;
    font-weight: normal;
    font-size: 22px;
    font-weight: bold;
}

.postview {
    padding: 5px 10px;
    margin: 40px 0;
}
.entry_title h2 {
    font-size: 22px;
    line-height: 23px;
    margin: 0;
    padding-bottom: 2px;
}

.entry_title h2 a {
    color: #2C5F3F;
    text-decoration: none;
}

.entry_title h2 a:hover {
    text-decoration: none;
    color: #C8A799;
}



#footer{
    text-align:center;
    background: #222;
    padding: 5px;
    color: #888;
    border-top: 1px solid #777;
    font-size: 12px;
    margin-left: -22px;
    margin-right: -22px;
}




.row {   
    margin: 30px 0px 60px 0px;
}


.timestamp {
    color: #777;
    font-family: "Times New Roman", Times, serif;
    line-height: 30px;
    font-size: 15px;
    margin: 6px 0 10px 0;
    
}


.blogtitle a {
    font-size: 30px;
    font-weight: bold;
    color:black;
}

.blogtitle a:hover {
    text-decoration: none;
}

code {
    margin:0px;
    padding:0px;
}


.sidenote {
    display: block;
    font-size: 12px;
    background: #F8F9F1;
    margin-right: -150px;
    width: 150px;
    left: 40px;
    float: right;
    padding: 5px;
    position: relative;
    border: 1px solid #AAA;
}


hr {
    margin: 20px 0;
    border: none;
    border-top: 3px solid #C8A799;
}


.pagenav {
    display: table;
    width: 540px;
    font-size: 16px;
    font-family: Sylfaen, Georgia, "Times New Roman", Times, serif;
    margin-bottom: 5px;
}
.pagenav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.pagenav ul li{
    display: table-cell;
    width: 270px;
    
}

