<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="程亦超写东西的地方">
    <meta name="author" content="onesuper">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>    

  <div class="meta">
    <a href="/archive">
      <img src="/images/star.png" />
      <div class="show">back to bedroom</div>
    </a>
    <a href="/atom.xml">
      <img src="/images/rss.png" />
      <div class="show">this is not a joke</div>
    </a>
    <a href="mailto:onesuperclark@gmail.com">
      <img src="/images/email.png" />
      <div class="show">where did you sleep last night?</div>
    </a>
  </div>


  <div class="container">
    <div class="titleline">
	  <div class="blogtitle"><a href="/">{{ site.title}}</a></div>
    </div>

    <div class="content">
      {{ content }}
    </div>
  
    <div class="footer">Gently typed by <a href="/onesuper">onesuper</a></div>
  </div>


  


  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30275856-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
