<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Cheng Yichao's blog">
    <meta name="author" content="onesuper">
    <script type="text/javascript" src="/sc.js"></script>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>    


  <div class="container">


    <div class="tocview">

      <div class="toctitle">
        <a href="javascript:void(0);" title="Expand/Collapse" class="toc" 
           onclick="TocviewToggle(this,&quot;tocview_3&quot;)" id="arrow3">&#9660;
        </a> essay
      </div>
      <div id="tocview_3" class="category">
        <ul>
          {% for post in site.categories.essay %}
          <li><a href="{{post.url}}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="toctitle">
        <a href="javascript:void(0);" title="Expand/Collapse" class="toc" 
           onclick="TocviewToggle(this,&quot;tocview_0&quot;)" id="arrow0">&#9660;
        </a> life
      </div>
      <div id="tocview_0" class="category">
        <ul>
          {% for post in site.categories.life %}
          <li><a href="{{post.url}}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>


      <div class="toctitle">
        <a href="javascript:void(0);" title="Expand/Collapse" class="toc" 
           onclick="TocviewToggle(this,&quot;tocview_1&quot;)" id="arrow1">&#9660;
        </a> art
      </div>
      <div id="tocview_1" class="category">
        <ul>
          {% for post in site.categories.art %}
          <li><a href="{{post.url}}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>


      <div class="toctitle">
        <a href="javascript:void(0);" title="Expand/Collapse" class="toc" 
           onclick="TocviewToggle(this,&quot;tocview_2&quot;)" id="arrow2">&#9660;
        </a> tech
      </div>
      <div id="tocview_2" class="category">
        <ul>
          {% for post in site.categories.technium %}
          <li><a href="{{post.url}}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>




    <div class="the-end-of-the-world">
       {% if page.previous %}
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;prev</a>
      {% else %}
        &larr;prev
      {% endif %}

        <a href="/" title="no direction home">home</a>
        <a href="/onesuper" title="the man who sold the world">about</a>

      {% if page.next %}
        <a href="{{ page.next.url }}" title="{{ page.next.title }}">next&rarr;</a>
      {% else %}
        next&rarr;
      {% endif %}
    </div>

    <div class="content">
      {{ content }}
    </div>
  



    <div class="the-end-of-the-world">
       {% if page.previous %}
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;prev</a>
      {% else %}
        &larr;prev
      {% endif %}

      <a href="#">top</a>

      {% if page.next %}
        <a href="{{ page.next.url }}" title="{{ page.next.title }}">next&rarr;</a>
      {% else %}
        next&rarr;
      {% endif %}
    </div>



  </div>


  


  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30275856-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
