---
layout: default
---

<div class="the-end-of-the-world">
  {% if page.previous %}
  <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;prev</a>
  {% else %}
  &larr;prev
  {% endif %}

  <a href="/" title="no direction home">home</a>

  {% if page.next %}
  <a href="{{ page.next.url }}" title="{{ page.next.title }}">next&rarr;</a>
  {% else %}
  next&rarr;
  {% endif %}
</div>


<div class="row">
    <div class="timestamp">{{ page.date | date_to_string }}</div>

    <div class="pagetitle"><h1>{{ page.title }}</h1></div>
    {{ content }}


</div>





<div class="the-end-of-the-world">
  {% if page.previous %}
  <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;prev</a>
  {% else %}
  &larr;prev
  {% endif %}

  <a href="#">top</a>

  {% if page.next %}
  <a href="{{ page.next.url }}" title="{{ page.next.title }}">next&rarr;</a>
  {% else %}
  next&rarr;
  {% endif %}
</div>
