<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>About</h4>

    <img style='width:195px; margin: 5px;border:0px solid; border-radius: 5px;' src='/images/photo.jpeg'>
    <br>

    <div>
      My name is Cheng Yichao. For the most part of my life so far, I am a programmer/data evangelist/believer in tools for thought. 
      I live in Shanghai. 
    </div>
    <br>

    <div>
    I have started a comic site named <a href="https://www.notion.so/Dreamsome-b35a6436e31e4bbb8b924499bbb50be6">Dreamsome</a> 
    about code, science, and the Internet.
    </div>
    <br>

    <div>
    I have translated a techical book, <a href="https://book.douban.com/subject/25703412/">嗨翻C语言</a>
    and <a href="/learnable-programming">Learnable Programming</a>.

    </div>
    <br>

    <div>
      You can also find me on <a href="https://twitter.com/yichaocheng">Twitter</a>.
    </div>

    <h4>Projects</h4>
    <div>
      <a href="https://github.com/onesuper/pandasticsearch">Pandasticsearch</a> 
    </div>

    <h4>Publications</h4>
    <div> 78-3-319-27137-8_2 </div>
    <div> HPCC.2014.162 </div>
    <div> 978-3-319-11197-1_4 </div>
    <div> IPDPSW.2014.96 </div>


  </div>
</div>
