<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>About</h4>

    <img style='width:195px; margin: 5px;border:0px solid; border-radius: 5px;' src='/images/photo.jpeg'>
    <br>

    <div>My name is Cheng Yichao. I also use Dreamsome as an alias on the Internet. </div>
    
    <br>
    
    <div>For the most part of my life so far,  I am a <a href="https://github.com/onesuper">programmer</a>, 
      which I have made up some funny <a href="https://www.zhihu.com/question/19909094/answer/46378091">jokes</a> about.
      I live in Shanghai. 
    </div>

    <br>
    <div>If you want get in touch, please send me a DM via <a href="https://twitter.com/yichaocheng">Twitter</a>.</div>

  </div>
</div>
